body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: 000000;
	background: linear-gradient(rgba(227, 227, 209, 1), rgba(75, 87, 87, 1));
	width: 100%;
}

#filtre {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Arial';
    box-shadow: 2px, 2px, 2px rgba(0, 0, 0, 0.3);
}

.formappart {
	width: 20%;
    display: flex;
    flex-direction: column;
}

h1 {
	text-transform: uppercase;
	letter-spacing: 6px;
	text-align: center;
}

.title-appart{
	color: #e3e3d1;
}

input, select {
	margin-bottom: 10px;
	padding: 10px;
	border-radius: 5px;
	border-style: none;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

input:focus {
	outline: none;
}

input::placeholder {
	font-style: italic;
	opacity: 0.4;
}

#errorMessage {
	display: none;
	color: red;
	text-align: center;
}

.control {
	box-shadow: 0px 0px 10px rgba(255, 0, 0, 0.7), 0px 0px 10px rgba(255, 0, 0, 0.7) inset;
	border-color: red;
}

input[type="submit"] {

	border: 2px solid white;
	padding: 10px 20px;
	border-radius: 5px;
	background-color: transparent;
	text-transform: uppercase;
	letter-spacing: 4px;
	cursor: pointer;
	width: 100%;
	transition: all linear 0.2s;
}

.pub{
	position: relative;
	color: black;
	font-size: x-large;
	font-weight: bold;
	text-align: center;
}

input[type="submit"]:hover {
	background-color: white;
}

.price {

	font-size: xx-large;
	font-family: Arial;
}

.card-appart {
	display: flex;
	justify-content: space-between;
	margin: 60px;
	align-items: center;
}

.card-appart-text {
	padding: 15px;
}

.card-appart-icons {
	display: flex;
	justify-content: space-between;
	color: black;
}

.card-appart-image {
	border: 10px solid transparent;
}

.card-appart-image:hover {
	border: 10px solid #9cd6d4;
	border-radius: 10px;
}

a:visited, a:link, a:active, a:hover
{
	color:black;
}

.fa-heart:hover {
	color: #6d071a;
}

.fa-envelope:hover {
	color: #9cd6d4;
}

.card {
  background: #E3E3D1 !important;
}
